:local(.news)
  border 1px solid black
  .newsHolder 
    padding 10px
    max-height calc(100% - 20px)
    overflow auto
    .single
      display flex
      margin 10px 0
      &.fav
        background-color rgba(155,155,155,0.4);
      .heading
        span:nth-of-type(1)
          margin-right 10px