:local(.app)
  box-sizing border-box
  *
    box-sizing border-box
  width 100vw
  height 100vh
  padding 5px
  display flex
  >.chat
    width 50%
  >.newsAndWeather
    width 50%
    height 100%
    >.news, >.weather
      height 50%